.control-group {
    margin-bottom:10px; 
}
#footer {
    color:#999;padding-top:6px;border-top: 1px dashed #ddd;
  }
.fright {
    float:right; 
 }
.icp { 
    float:left;
}
#lzform{
    margin-top:10px;    
    font-size: 13px;
    padding-left: 0px;
}
#lzform input{
    padding:5px;
    border-radius: 4px;
    border: 1px solid #c9c9c9
}

label{
    font-weight: normal;  
}

.mod h2{
    color: #072;
    font-size: 15px;
    line-height: 150%;
    margin: 0 0 12px;
}
.mod{
    font-size: 13px; 
    color: #666;
    font: 12px/1.62 Helvetica,Arial,sans-serif;
}
#top-nav{
    height:30px;
    background:#545652;     
}

/*已经登录的状态*/
.login{

    font-size:13px;
    margin-right:10px;
    height:30px;
    line-height:30px;
    float:right;
}
.login a{
    color:#ededed;
    margin-left:20px;
}

.login a:hover,.login a:active {
    background-color: transparent;
    color: #fff;
    background:#545652; 
}

/*登陆注册*/
.reglog{
    color:#ededed;
    font-size:13px;
    width:120px;
    height:30px;
    line-height:30px;
    float:right;
}
.reglog a{
    color:#bbb;
}
.reglog a:hover,.reglog a:active {
    background-color: transparent;
    color:#fff;
    background:#545652; 
}