*{
	padding:0px;
	margin:0px auto;

}
.top-logo{
	padding-top:30px;
	height:67px;
	width:960px;
}
#content{
	min-height:420px;
	width:960px;
}
h1{
     color: #494949;
     display: block;
     font-size: 25px;
     font-weight: bold;
     line-height: 1.1;
	padding-top: 30px;
     word-wrap: break-word;
     width:960px;
 }
 #content-left{
 	width:595px;
 	min-height:420px;
 	float:left;
 }
 form{
 	padding-left:30px;
 	color: #494949;
 }
 form p{
 	font-size:12px;
 	color:#898989;
 	margin-top:15px;
 }
 .top-input{
 	height:32px;
 	width:540px;
 	margin-top:16px;

 }
 .top-input input{
	margin-left:18px;
	width:212px;
	height:28px;
 }
 .form-area{
 	margin-top:30px;
 }
 .vcode{
 	margin-top:20px;
 }
 .vcode input{
 	width:105px;
 	height:28px;
 	margin-left:52px;
 	margin-top:10px;
 }
 .vcode l{
	font-size:12px;
 	color:#898989;

 }
 #content-right{
 	width:312px;
 	min-height:420px;
 	float:right;
 }
 #aside{
	width:360px;
	height:80px;
 }
 #space{
 	width:360px;
 	min-height:340px;
 }
 span{
 	font-size:12px;
 	color:#898989;
 }
footer{
	width:960px;
	height:40px;
	border-top: 1px dashed #ddd;
    	color: #999;
    	overflow: hidden;
    	padding-top: 6px;
    	clear:both;
}
.introduction{
	float:right;
}











