<extend name="Public:base" />

<!-- 添加副导航 -->
<block name="sub-nav">
    <ul>
        <li><a href="__MODULE__/review/review" class="heading" id="reviewlist" >影评列表管理</a></li>
        <li><a href="__MODULE__/replies/replies" id="replieslist">影评回复管理</a></li>
        <li><a href="__MODULE__/questions/questions" id="questionslist">问题列表管理</a></li>
        <li><a href="__MODULE__/answers/answers" id="answerslist">回答列表管理</a></li>
    </ul>
</block>
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/admin/css/review/add.css">

<!-- 内容主体 -->
    <div class="dashboard-wrapper">

<!-- 左边框 -->
        <div class="left-sidebar" >  

<!-- 左边内容 -->
            <div class="row-fluid">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">影评列表</div>
                    </div>
                    <div class="widget-body">

<!-- 用户列表表格 -->
                        <table class="table table-condensed table-striped table-bordered table-hover no-margin" id="table">

<!-- 表头 -->
                            <thead>
                                <tr>
                                    <th style="width:5%">
                                        选择
                                    </th>
                                    <th style="width:10%">
                                        ID
                                    </th>
                                    <th style="width:15%" class="hidden-phone">
                                        用户名称
                                    </th>
                                    <th style="width:25%" class="hidden-phone">
                                        电影名称
                                    </th>
                                    <th style="width:20%" class="hidden-phone">
                                        影评标题
                                    </th>
                                    <th style="width:15%" class="hidden-phone">
                                        发表时间
                                    </th>
                                    <th style="width:10%" class="hidden-phone">
                                        操作
                                    </th>
                                </tr>
                            </thead>

<!-- 表格主体内容 -->
                             <tbody>
                                <foreach name="comments" item="rev">
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="no-margin" />
                                        </td>
                                        <td class="hidden-phone">
                                            {$rev.cid}
                                        </td>  
                                        <td class="hidden-phone">
                                            {$rev.cuname}
                                        </td>
                                        <td class="hidden-phone" id="td">
                                            {$rev.cmname}
                                        </td>
                                        <td class="hidden-phone" id="td">
                                            {$rev.ccontent}
                                        </td>
                                        <td class="hidden-phone">
                                            {$rev.cdate|date='Y-m-d H:i:s',###}
                                        </td>
                                        <td class="hidden-phone">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                                    操作
                                                <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="__CONTROLLER__/delComment/id/{$rev.cid}">删除</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>   
                                    </tr>
                                </foreach> 
                            </tbody>                               
                         </table>
                    </div>
                    <div class="manu pagination widget-body">{$page}</div>
                    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css" />
                    <link rel="stylesheet" href="__PUBLIC__/admin/css/page.css" />
                  </div>
             </div>
        </div>

<!-- 右侧搜索部分 -->
        <div class="right-sidebar" id="form">

<!--<hr class="hr-stylish-1">-->
            <div class="wrapper">
                <input type="text" placeholder="电影名称" class="search-query"style="width:150px;margin-left:25px;">
            </div>

<!--<hr class="hr-stylish-1">-->
        </div>
      </div>
</block>

<!-- JS控制导航 -->
<block name="script">
    <script type="text/javascript">
        $('#index').removeAttr("class");
        $('#review').attr("class","selected");
    </script>
    <script type="text/javascript">

        var CONTROLLER="__CONTROLLER__";

        $('.search-query').keyup(function(){
            var val=$('.search-query').val();
            var cname={'cname':val};
            function getLocalTime(nS) {
                return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g,"-").replace(/日/g, " ").replace("上午"," ").replace("下午"," ").substr(0,10);
                ;
            }
            $.post(CONTROLLER+'/search',cname,function(cname){
                $('.pagination').remove();
                if(!cname){
                    $("tbody tr").remove();
                }else{
                    var str="";

                    $.each(cname,function(i,j){
                        str+="<tr><td><input type=";
                        str+="'checkbox'";
                        str+="class=";
                        str+="'no-margin'";
                        str+="></td><td class=";
                        str+="'hidden-phone'";
                        str+=">"+j.id+"</td><td class=";
                        str+="'hidden-phone'";
                        str+="><span class=";
                        str+="'label label label-info'";
                        str+=">"+j.cname+"</span>";
                        str+="</td><td class=";
                        str+="'hidden-phone'";
                        str+=">"+j.type;
                        str+="</td><td class=";
                        str+= "'hidden-phone'";
                        str+= "id=";
                        str+="'td'";
                        str+=">"+j.country+"</td><td class=";
                        str+="'hidden-phone'";
                        str+=">"+j.hot+"</td><td class=";
                        str+="'hidden-phone'"
                        str+=">"+j.score+"</td><td class=";
                        str+="'hidden-phone'";
                        str+=">"+j.scount+"</td><td class=";
                        str+="'hidden-phone'";
                        str+=">"+j.wcount+"</td><td class=";
                        str+="'hidden-phone'";
                        str+=">"+getLocalTime(j.addtime);
                        str+="</td><td><div class=";
                        str+="'btn-group'";
                        str+="><button data-toggle=";
                        str+="'dropdown'";
                        str+= "class=";
                        str+="'btn btn-mini dropdown-toggle'";
                        str+=">操作<span class=";
                        str+="'caret'";
                        str+="></span></button><ul class=";
                        str+="'dropdown-menu'";
                        str+="><li><a href=";
                        str+="'__CONTROLLER__/edit/id/"+j.id+"'";
                        str+=">查看或修改影片详情</a></li><li><a href=";
                        str+="'__CONTROLLER__/del/id/"+j.id+"'";
                        str+=">删除</a></li></ul></div></td></tr>";
                    })

                    $("tbody").html(str);}
            },"json");
        })

        // 全选
        function allSelect(){
            if($('td input').attr("checked")){
                $('td input').attr("checked",false);
            }else{
                $('td input').attr("checked",true);
            }
        }

        // 反选
        function noSelect(){
            $("td input").each(function () {
                $(this).attr("checked", !$(this).attr("checked"));
            });
        }
    </script>
</block>